<ion-header>

	<ion-navbar>

		<ion-title *ngIf="issueFeed">
			{{ 'LIST.TITLE' | translate: {count: issueFeed.count} }}
		</ion-title>

	</ion-navbar>

</ion-header>

<ion-content>

	<div *ngIf="issueFeed">

		<ion-list>

			<button *ngFor="let issue of issueFeed.list" ion-item (click)="viewDetail(issue.id)">
				<ion-avatar item-start>
					<cl-image [public-id]="issue.publicIds[0]"></cl-image>
				</ion-avatar>
				<h2>
					{{ issue.type }}
				</h2>
				<p>
					{{ issue.description }}
				</p>
			</button>

		</ion-list>

		<ion-infinite-scroll (ionInfinite)="fetchNext($event)">
			<ion-infinite-scroll-content></ion-infinite-scroll-content>
		</ion-infinite-scroll>

	</div>

</ion-content>
