page-splash {

	.logo-padding {
		padding: 10% 25% 10% 25%;
	}

	.d-flex {
		display: flex;
	}

	.items-center {
		align-items: center;
	}

	.h-full {
		height: 100%;
	}

	.text-center {
		text-align: center;
	}

	.font-bolder {
		font-weight: bolder;
	}

}
